@use "@angular/material" as mat;

@include mat.core();

$football-app-primary: mat.define-palette(mat.$indigo-palette);
$football-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$football-app-warn: mat.define-palette(mat.$red-palette);

$football-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $football-app-primary,
      accent: $football-app-accent,
      warn: $football-app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($football-app-theme);

@import url("https://fonts.googleapis.com/css2?family=Futura+PT:wght@400;700&display=swap");

:root {
  --matchday-green: #22c55e;
  --matchday-black: #111827;

  --matchday-pending: #111827;
  --matchday-pending-soft: rgba(17, 24, 39, 0.08);

  --matchday-progress: #60a5fa;
  --matchday-progress-soft: rgba(96, 165, 250, 0.16);

  --matchday-finished: #273355;
  --matchday-finished-soft: rgba(107, 114, 128, 0.12);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #f5f7fb;
  color: var(--matchday-black);
}

* {
  box-sizing: border-box;
}

ion-menu {
  --width: 88vw;
  --max-width: 380px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
